html, body {
  height: 100%;
    font-family: 'Microsoft Yahei';
}

#logo{
	margin-top:40px;
	height:100px;
	text-align: -webkit-center;
}

#search{
	
	height:auto;
	width:650px;
	text-align: -webkit-center;
}

#search .tabLine{
	display:block;
	margin-bottom:3px;
	position:relative;
	height:25px;
}

#search .tabLine ul{
	float: left;
	padding-left: 110px;
	margin-bottom:none;
}

#search .tabLine ul li{
	display: inline-block;
}

#search  .tab{

	width:60px;
	height:25px;
	line-height:25px;
	text-align: center;
	font-size: 14px;
	font-family:'Microsoft Yahei';
	font-weight:400;
	vertical-align: middle;
	background-color: #F0F0F0;	
}

#search .tabLine ul li:hover,focus{
	background-color: #BEBEBE;	
	cursor:pointer;
}

#search .logo{
	height:55px;
	position:absolute;

}

#search .left{
	float:left;
	margin:5px 10px 0 0;
}

/*#search .middle{
	position:relative;
	left:100px;
}

#search .search-btn{
	float:left;
	width:450px;
	height:30px;
	background: #FFFFFF;
    	border: 1px solid #BDBDBD;
    	box-shadow: 0 2px 2px #ECECEC inset, 0 1px 1px #FFFFFF;
    	outline: medium none;
	color: #999;
}

#search .search-btn:focus{
    border: 1px solid #4078c7
}
#search .search-btn:hover{
    border: 1px solid #4078c7
}

#search .button-wrapper{
}

#search .button{
	position:relative;
	left:52px;
	margin-top:10px;
	width:100px;
	height:30px;
}*/
#search-wrapper{
	height: 60px;
}

#search-wrapper input {
    	height: 30px;
    	width: 400px;
    	margin: 0px;

}

#search-wrapper .type{
	position:absolute;
	left:460px;
	margin-top:10px;
	font:16px arial;
            border:1px solid #d8d8d8;
            border-bottom: 1px solid #ccc;
}

#search-wrapper .type:hover {
	border:1px solid #2a7beb;
}

#search-wrapper .button {
	font:16px arial;
	font-weight: 400;
	color: #FFFFFF;
	height: 30px;width: 110px;
	margin-left: 10px;
	background-color: #2a7beb;
	opacity: 1;
	cursor: pointer;
	border:none;
	position:absolute;
	left:860px;
	margin-top:10px;
}

