html, body {
  height: 100%;
    font-family: 'Microsoft Yahei';
    overflow: hidden;
}

#logo{
	position:relative;
	width:100%;
	float:center;
	margin-top:4.5%;
	height:15%;
	text-align: -webkit-center;
	min-height: 100px;
	min-width: 1200px;
}

#search{
	position:relative;
	height:14%;
	min-height: 90px;
	min-width: 1200px;
	width:100%;
	text-align: -webkit-center;
}

#search .tabLine{
	display:block;
	margin-bottom:3px;
	margin-left:26%;
	position:relative;
	height:25px;
	min-height: 25px;
	min-width: 1000px;
}

#search .tabLine ul{
	float: left;
	padding-left: 110px;
	margin-bottom:none;
}

#search .tabLine ul li{
	display: inline-block;
}

#search  .tab{

	width:60px;
	height:25px;
	min-height: 25px;
	min-width: 60px;
	line-height:25px;
	text-align: center;
	font-size: 14px;
	font-family:'Microsoft Yahei';
	font-weight:400;
	vertical-align: middle;
	background-color: #F0F0F0;	
}

#search .tabLine ul li:hover,focus{
	background-color: #BEBEBE;	
	cursor:pointer;
}

#search .logo{
	height:55px;
	min-height: 55px;
	position:absolute;
	left:26%;

}

#search .left{
	float:left;
	margin:8px 10px 0 0;
}

/*#search .middle{
	position:relative;
	left:100px;
}

#search .search-btn{
	float:left;
	width:450px;
	height:30px;
	background: #FFFFFF;
    	border: 1px solid #BDBDBD;
    	box-shadow: 0 2px 2px #ECECEC inset, 0 1px 1px #FFFFFF;
    	outline: medium none;
	color: #999;
}

#search .search-btn:focus{
    border: 1px solid #4078c7
}
#search .search-btn:hover{
    border: 1px solid #4078c7
}

#search .button-wrapper{
}

#search .button{
	position:relative;
	left:52px;
	margin-top:10px;
	width:100px;
	height:30px;
}*/
#search-wrapper{
	height: 60px;
	min-height: 60px;
	min-width: 1200px;
}

#search-wrapper input {
    	height: 30px;
    	min-height: 30px;
    	width: 400px;
    	min-width: 400px;
    	margin: 0px;

}

#search-wrapper .type{
	position:absolute;
	left:34.2%;
	margin-top:10px;
	font:16px arial;
    	border:1px solid #d8d8d8;
    	border-bottom: 1px solid #ccc;
}

#search-wrapper .type:hover {
	border:1px solid #2a7beb;
}

#search-wrapper .button {
	font:16px arial;
	font-weight: 400;
	color: #FFFFFF;
	height: 30px;
	min-height: 30px;
	width: 110px;
	min-width: 110px;
	margin-left: 10px;
	background-color: #2a7beb;
	opacity: 1;
	cursor: pointer;
	border:none;
	position:absolute;
	left:63.5%;
	margin-top:10px;
}


/*#left_pro{
	position:absolute;
	top:10%;
	left:1%;
  	margin-top: 10%;
  	margin-bottom:10%;
  	margin-left: 100px;
  	font-size: 400%;
  	opacity: 0.15;
  	cursor: pointer;
  	padding: 10px;

}
#right_pro{
	position:absolute;
	top:10%;
	right:1%;
  	margin-top: 10%;
  	margin-right:100px;
  	margin-bottom:10%;
  	font-size: 400%;
  	opacity: 0.15;
  	cursor: pointer;
  	padding: 10px;
}*/


.img_section{
	position:relative;

	height:10%;
	min-height: 40px;
	min-width: 900px;
	width:70%;
	margin-bottom:0;
	padding-left:12%;
	margin-left:15%;
	margin-right:15%;
	margin-right:15%;
	background-color: #f9f9f9;
	
}

.img_section li{
	
	list-style:none;
	display:inline block;
	text-align: center;
	float:left;
	width:150px;
	min-width: 150px;
	min-height: 30px;
	border-bottom:2px solid #acacac;
	margin:5px;
	opacity:0.7;
	text-align:center;
}

.img_section li:hover{
	opacity:1;
	cursor:pointer;
}

.img_section li h3{
	font-size:18px;
	font-weight:300px;
    	margin:10px 20px 0px 20px;
	padding:0 15px 0 15px;
}



.img_wrap{
	position:relative;
	width:100%;
	height:60%;
	min-height: 400px;
	min-width: 1200px;

}
.img_wrap_section{
	position:absolute;

	left:0;
	margin-left:15%;
	margin-right:15%;
	height:100%;
	min-height: 400px;
	min-width: 900px;
	background-color: #f9f9f9;
	padding-left:1%;
}


.img_wrap_section li{
	list-style: none;
	position:relative;
	float:left;
	width:23%;
	margin-right:2%;
	height:45%;
	
}

.img_wrap_section .content{
	border:1px solid #bebebe;
	margin-top:3%;
	background-color:#FFFFFF;
	width:210px;
	height:152px;
	min-height:152px;
	min-width:210px;
}

.img_wrap_section img{
	position:absolute;
	margin:21px 25px 26px 20px;
	height:105px;
	width:160px;
	min-height: 105px;
	min-width: 160px;
	opacity:1;

}

.img_wrap_section .content_wrap{
	position:relative;
	height:65px;
	margin:50px 0px 30px 0px;
	background-color:#696969;
	opacity: 0;

}

.img_wrap_section .content_wrap h3{
	padding-top:5px;
	margin-bottom:5px;
	font-size:16px;
	text-align:center;
	color:#eFeFeF;

}

.img_wrap_section .content_wrap h3:hover{
	style:none;
	cursor:pointer;
}

.img_wrap_section .content_wrap p{
	list-style:none;
	font-size:14px;
	text-align:center;
	margin:15px;
	color:#eFeFeF;
	cursor:pointer;
	margin:0px 30px 0 30px;
}

 /*#wrap_outside li img{
	opacity: 0;
}

 #wrap_teach li img {
	opacity: 1;
}

 #wrap_life li img {
	opacity: 0;
}
 #wrap_activity li img {
	opacity: 0;
}*/